@{
    ViewBag.Title = "Главная";
}

<h2>Добро пожаловать на главную страницу!</h2>

<div>
    <a href="@Url.Action("Index", "Vacation")" class="btn btn-primary">Перейти к отпускам</a>
</div>

<div style="margin-top: 10px;">
    <a href="@Url.Action("Index", "Employee")" class="btn btn-primary">Перейти к работникам</a>
</div>
